[submodule "pewpew-engine/vendor/sdplog"]
	path = pewpew-engine/vendor/sdplog
	url = https://github.com/gabime/spdlog.git
[submodule "PewPew/vendor/imgui"]
	path = PewPew/vendor/imgui
	url = https://github.com/TheCherno/imgui
