# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

!vendor/**/*.exe

# Build output folders (root and submodules)
bin/
bin-int/

# Include assimp vendor binaries
!PewPew/vendor/assimp/bin/
!PewPew/vendor/assimp/bin/**
!PewPew/vendor/assimp/lib/
!PewPew/vendor/assimp/lib/**
!**/vendor/assimp/**/*.dll
!**/vendor/assimp/**/*.lib
!**/vendor/assimp/**/*.pdb
