[submodule "pewpew-engine/vendor/sdplog"]
	path = pewpew-engine/vendor/sdplog
	url = https://github.com/gabime/spdlog.git
[submodule "CBEngine/vendor/imgui"]
	path = CBEngine/vendor/imgui
	url = https://github.com/canberkbekir/game-engine-imgui
[submodule "CBEngine/vendor/GLFW"]
	path = CBEngine/vendor/GLFW
	url = https://github.com/canberkbekir/game-engine-glfw
[submodule "CBEngine/vendor/glm"]
	path = CBEngine/vendor/glm
	url = https://github.com/canberkbekir/game-engine-glm
[submodule "CBEngine/vendor/yaml-cpp"]
	path = CBEngine/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
